.rooms-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
  padding-left: 0px;
  margin: 0 0; }

.main-container {
  display: flex; }

.price-range {
  display: flex; }

.price-input {
  width: 100px;
  margin-right: 5px; }

.item {
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 6px; }

aside {
  padding-right: 90px;
  padding-left: 98px;
  display: block; }

.nav {
  display: flex;
  list-style-type: none;
  padding-right: 98px; }

h1 {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 43px; }

aside p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px; }

aside button {
  width: 185px;
  height: 42px; }

.submit-button {
  background: #FAC663;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 30px; }

.banner-button {
  background: #FAC663;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 30px; }

.submit-button:hover {
  background-color: #ffffff;
  border: 2px solid #FAC663;
  transition: all 0.4s ease 0s; }

.drop-button {
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  border: 2px solid #acacac; }

.drop-button:hover {
  background: #FAC663;
  transition: all 0.4s ease 0s; }

.filter_paragraph {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 20px; }

.nav > li > a {
  text-decoration: none;
  font-weight: 600;
  color: #1A212F;
  padding-left: 30px;
  font-family: "Roboto"; }

.nav > li > a:hover {
  color: #FF7236;
  transition: all 0.4s ease 0s; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.modal-input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 430px;
  height: 52px;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 25px;
  margin-bottom: 20px;
  color: #000000; }

.modal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FF7236;
  font-family: "Roboto";
  font-weight: 500;
  height: 46px;
  width: 230px;
  font-size: 14px;
  border-radius: 30px;
  margin: 50px auto;
  border: none;
  cursor: pointer;
  color: #ffffff; }

.modal-input-date {
  width: 129px;
  height: 52px;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 16px; }

.modal-button:hover {
  background-color: #ffffff;
  color: #FF7236;
  border: 1px solid #FF7236;
  transition: all 0.4s ease 0s; }

.modal-button i {
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 14px;
  border: 7px solid #ffffff;
  color: #FF7236;
  font-size: 1.2em;
  float: right; }

.secondmodal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FF7236;
  font-family: "Roboto";
  font-weight: 500;
  width: 122px;
  height: 50px;
  font-size: 14px;
  border-radius: 30px;
  margin: 20px auto;
  border: none;
  cursor: pointer;
  color: #ffffff; }

.secondmodal-button:hover {
  background-color: #ffffff;
  color: #FF7236;
  border: 1px solid #FF7236;
  transition: all 0.4s ease 0s; }

a {
  text-decoration: none !important; }

.second-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center; }

.secondpopup-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center; }

.secondmodal-button i {
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 14px;
  border: 7px solid #ffffff;
  color: #FF7236;
  font-size: 1.2em;
  float: right; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden; }

.secondpopup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px; }

.secondpopup__content {
  background-color: #ffffff;
  color: #1A212F;
  max-width: 570px;
  padding: 50px;
  position: relative;
  z-index: 3; }

.popup:target {
  opacity: 1;
  visibility: visible; }

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px; }

.popup__content {
  background-color: #ffffff;
  color: #1A212F;
  max-width: 800px;
  padding: 30px;
  position: relative; }

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  widows: 50px;
  height: 50px;
  color: #1A212F; }

.title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }

.logo {
  padding-left: 98px;
  padding-top: 12px;
  padding-bottom: 12px; }

.banner {
  background-image: url(./images/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  margin-top: 140px; }

h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px; }

.item p {
  font-family: Lato;
  font-size: 13px;
  line-height: 17px; }

h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  max-width: 329px; }

h3 span {
  font-size: 56px; }

.banner-content {
  padding-left: 25%;
  padding-top: 5%; }

.banner-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 140%;
  max-width: 264px; }

.banner-button {
  background-color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  height: 50px;
  width: 206px;
  font-size: 16px;
  border-radius: 30px;
  margin-bottom: 78px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  text-align: center; }

.banner-button:hover {
  background-color: #FF7236;
  color: #ffffff;
  transition: all 0.4s ease 0s; }

.banner-button i {
  background-color: #FF7236;
  border-radius: 50%;
  border: 1x solid grey;
  margin-left: 12px;
  padding: 7px;
  color: #ffffff;
  font-size: 1.2em; }

.item button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FF7236;
  font-family: "Roboto";
  font-weight: 500;
  height: 46px;
  width: 230px;
  font-size: 14px;
  border-radius: 30px;
  margin: 25px 20px;
  border: none;
  cursor: pointer;
  color: #ffffff; }

.item button:hover {
  background-color: #ffffff;
  color: #FF7236;
  border: 1px solid #FF7236;
  transition: all 0.4s ease 0s; }

.item button i {
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 14px;
  border: 7px solid #ffffff;
  color: #FF7236;
  font-size: 1.2em;
  float: right; }

h5 {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  padding-top: 10px;
  padding-right: 70px; }

.contacts-text {
  padding-left: 58px; }

.contacts-adress {
  max-width: 230px; }

.contacts-sheldue {
  max-width: 203px; }

.contacts-sheldue, .contacts-adress, .contacts-number, .contacts-mail {
  padding-bottom: 10px; }

.paw {
  position: relative;
  float: right;
  z-index: 1; }

.contacts-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px; }

.contacts-text span, .contacts-social {
  font-weight: normal;
  line-height: 4px; }

.contacts-social i {
  color: #ffffff;
  font-size: 1em; }

.contacts-block {
  margin-top: 140px;
  background-color: #FAC663;
  display: flex;
  justify-content: space-between;
  max-width: 1366; }

.contacts-number {
  max-width: 131px; }
  .footer-icons{
    display: flex;
}
.icons{
    margin-bottom: 60px;
    margin-right: 1em;
    font-size: 1em;
    color: #303030;
    background-color: #1A212F;
    border: 2px solid #303030;
    border-radius: 50%;
    padding: 0.2em;
    transition: all .5s ease;
    width: 1em;
    text-align: center;
  }
  .icons:hover{
    cursor:pointer;
  }
.item-text-block {
  padding-left: 20px; }

/* Dropdown Button */
.dropbtn {
  float: right;
  background-color: #ffffff;
  color: #1A212F;
  font-size: 14px;
  width: 174px;
  height: 35px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 25px; }

.map {
  width: 600px; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }

.rooms-container {
  padding-top: 120px; }

.btn span.icon {
  background: url(./images/paw\ z.svg) no-repeat;
  float: right;
  padding-left: 15px;
  width: 10px;
  height: 40px; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 668px) and (max-width: 991px) {
  h3 {
    font-size: 30px; }

  .banner {
    background-image: url(./images/Rectangle45.png); }

  .banner-content {
    padding-left: 15%;
    padding-top: 5%; }

  .rooms-container {
    grid-template-columns: auto auto;
    column-gap: 30px;
    margin: 0 auto; }

  .logo {
    padding-left: 45px; }

  aside {
    display: none; }

  .contacts-text {
    padding-left: 45px;
 } }
/* Landscape phones and portrait tablets */
@media (max-width: 667px) {
  .item {
    margin: 0 auto; }

  aside {
    display: none; }

  .rooms-container {
    grid-template-columns: auto;
    margin: 0 auto; }

  .logo {
    padding-left: 15px;
    z-index: 3; }

  .nav {
    padding-right: 45px; }

  .item {
    margin: 0 auto; }

  aside {
    display: none; }

  .rooms-container {
    grid-template-columns: auto;
    margin: auto; }

  .banner {
    background-image: url(./images/banner_mobile.png);
    background-size: cover;
   height: 720px; }

  .banner {
    margin-top: 70px; }

  h3 {
    font-size: 24px; }

  h3 span {
    font-size: 37px;
    padding-right: 130px; }

  .banner-content {
    display: flex; 
    flex-direction: column;
  }

  .header__burger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 3; }

  .header__burger span {
    position: absolute;
    background-color: #FAC663;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 25px; }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #FAC663;
    position: absolute;
    width: 100%;
    height: 3px; }

  .header__burger:before {
    top: 0; }

  .header__burger:after {
    bottom: 0; }

  .header__burger.active {
    margin-left: 50%; }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 24px;
    background-color: grey; }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 24px;
    background-color: grey; }

  .header__burger.active span {
    transform: scale(0); }

  .header__menu {
    padding-top: 76px;
    position: fixed;
    top: -140%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FAC663; }

  .header__menu.active {
    top: 0; }

  .nav {
    display: block;
    margin-top: 50px;
    margin-left: 15px; }

  .nav li {
    margin: 0px 0px 20px 0px;
    text-transform: uppercase;
    padding: 10px 0; } }

/*# sourceMappingURL=rooms.css.map */
